# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.un~
*.swo
*.swp

build/*
render_scripts/__pycache__/*
render_scripts/imgui.ini
render_scripts/.polyscope.ini
.DS_Store
render_scripts/.DS_Store

data_processing/__pycache__/*
data_processing/.DS_Store
data_processing/imgui.ini
data_processing/polyscope.ini
data_processing/.polyscope.ini

.DS_Store
.polyscope.ini
imgui.ini
